html {
    color: white;
    background-color: black;
    font-size: 25px;
    
}


#main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    height: 400px;
    width: 400px;
}
.logo-container{
    display: flex;
    justify-content: center;   
    margin-bottom: 0px;
}
.header{
    text-align: center;
    margin-top: -70px;

}
h1{
    font-family: kingthings;
    font-size: 4rem;
    color: goldenrod;
    margin: 0px;
}
h2 {
    
    margin: 0px;
}
#nav-bar>ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: goldenrod;
    margin: 0px;
    padding: 0px 15px;
}
.link {
    color: black;
    font-weight: bolder;
    
}
#home-link {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    padding:  0px 15px;
}
.home-link{
    display: flex;
    justify-content: center;
}

#lead-in {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
}

#gallery {
    display: grid;
    width: 80%;
    grid-template-columns:  1fr 1fr 1fr 1fr ;
    gap: 10px
    
}
.gallery {
    width: 100%;
    
}
#entrance {
    order: -1;
}
#box{
    background-color: red;
    
}
#hives {
    order: 1;
}
#gallery div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75rem;
    margin: 0px;
}






#foot {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    font-size: 20px;
    color: gold;
    
}

@font-face {
    font-family: kingthings;
    src: url(./assets/fonts/kingthings/Kingthings_Calligraphica_Light.ttf) format(truetype);
    font-display: swap;
}
@font-face {
    font-family: kingthings2 ;
    src: url(./assets/fonts/kingthings/Kingthings_Calligraphica_Light.ttf) format(truetype);
    font-display: swap;
}
@font-face {
    font-family: GothicFont;
    src: url(./assets/fonts/GothicFont/Manuskript\ Gothisch\ UNZ1A.ttf);
    font-display: swap;
}
